/* @import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.App-logo {
  height: 50vmin;
  width: 50vmin;

}

.logoBox {
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  
  box-shadow: 10px 15px;
}

.App-logo-2 {
  /* height: 30vmin;
  width: 30vmin; */
  float:right;
  pointer-events: none;
  margin-top: 60px;

  animation: App-logo-spin infinite 8s linear; 
}

.App-logo-3 {
  /* height: 30vmin;
  width: 30vmin; */
  float:left;
  pointer-events: none;
  margin-top: 60px;
  animation: App-logo-spin infinite 8s linear; 
}





.background {
  background: url("https://i.imgur.com/gb0Mznv.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.slogan {
  text-align: center;
  align-items: center;
  align-content: center;
  font-style: italic;
  font-family: 'Bebas Neue';
  margin: auto;
  color: white;
  text-shadow: 3px 3px black;
}

.bottom {
  margin: auto;
  display: flex;
  width: 80%;
  align-items: center;
  background-color: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(359deg);
  }
}
